body {
  margin: 0;
  padding: 0;
  background: white;
  text-align: center;
}

header {
  padding: 20px;
  text-align: center;
  background: #6b6b6b;
  color: white;
  font-size: 40px;
}

.form-container {
  display: inline-block;
  text-align: left;
  padding: 5px;
}

.table-container {
  padding: 5px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px;
  text-align: left;
}

table td {
  border: 1px solid black;
  padding: 7px;
}

table thead {
  background-color: #d2d2d2;
}

table thead th {
  padding: 10px;
  border: 1px solid black;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

#total {
  display: inline-block;
  padding: 5px;
}

.too-much-money {
  animation: blinker 1s infinite;
}

/* Copy and paste from https://stackoverflow.com/questions/34439452/blinking-background-color-animation */
@-webkit-keyframes blinker {
  0%,
  49% {
    background-color: yellow;
    border: 3px solid red;
  }
  50%,
  100% {
    background-color: red;
    border: 3px solid yellow;
  }
}

/* Copy and paste from https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css */
input[type='text'] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type='text']:focus {
  border-color: #333;
}

input[type='number'] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type='number']:focus {
  border-color: #333;
}

input[type='submit'] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
